section{
    margin-bottom:20px !important;
}

.add-model-form {
    width: 500px;
    height: 600px;
    margin-top: 20px;
    float: right;
}


.add-model-form input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;
    padding: 10px;
    font-family: "shabnam";
    margin-right: 15px;
    color: black;
}

.add-model-form select {
    width: 80%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;
    padding: 10px;
    font-family: "shabnam";
    margin-right: 15px;
    color: black;
}

.add-model-form label {
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
}

.add-model-form textarea {
    padding: 10px;
    border-radius: 5px;
    font-family: "shabnam";
    resize: none;
}

.add-model-form button {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #0a53be;
    background-color: #0a53be;
    margin-right: 15px;
    margin-top: 10px;
    color: white;
    font-family: "shabnam";
    font-size: 17px;
}

.add-model-form button:hover {
    cursor: pointer;
    color: rgb(194, 194, 194) !important;
}

.delete-model-form
{
    float: left;
}

.delete-model-form button{
    background-color: #de1111;
    width: 100px;
    height: 50px;
    border: 1px solid #de1111;;
    color: white;
    float: right;
    border-radius: 5px;
    font-family: "shabnam";
    margin-bottom: 10px;
    margin-top: 10px;
}

.delete-model-form button:hover{
    background-color: #d02222;
    cursor: pointer;
}
