header
{
    height: 100px;
}

section
{
    height: 400px;
    background-color: #1a1d20;
    width: 80%;
    margin: 20px auto;
    padding-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section .header-row
{
    color: blue;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;

}

.header-row p {
    width: 320px;
    margin-right: 20px;
}

.header-row p:first-of-type
{
    margin-right: 0;
}

section .row
{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid white;
}

#new{
    margin-right:600px;
    width: 200px;
    height: 50px;
    font-family: shabnam;
    background-color: #0a53be;
    padding: 10px;
    border: 1px solid #0a53be;
    border-radius: 10px;
}

#new a{
    color: white;
    text-decoration: none;
}

.row p {
    width: 320px;
    margin-right: 20px;
}

.row a{
    text-decoration: none;
    color: #997404;
}

.row p:first-of-type {
    margin-right: 0;
}

/* Scrollbar  */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(15, 15, 15);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
