.information-form {
    width: 500px;
    height: 600px;
    margin-top: 20px;
    float: right;
}

.password-form {
    width: 500px;
    height: 600px;
    margin-top: 20px;
    float: left;
}

.information-form input,
.password-form input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;
    padding: 10px;
    font-family: "shabnam";
    margin-right: 15px;
    color: black;
}

.information-form label {
    margin-right: 15px;
    margin-bottom: 10px;
    display: block;
}

.information-form textarea {
    padding: 10px;
    border-radius: 5px;
    font-family: "shabnam";
}

.information-form button,
.password-form button {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    margin-right: 15px;
    margin-top: 30px;
    color: white;
    font-family: "shabnam";
    font-size: 17px;
}

.information-form button:hover,
.password-form button:hover {
    cursor: pointer;
    color: rgb(194, 194, 194) !important;
}