@font-face {
    font-family: "shabnam";
    src: url(../fonts/Shabnam.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "shabnam";
    direction: rtl;
    background-image: url('../images/steampunk-city-3840-×-2160-wallpaper.jpg');
    background-size: cover;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.background-overlay {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.panel {
    width: 300px;
    height: 600px;
    background-color: white;
    margin: 30px auto;
    border-radius: 5px;
    padding: 10px;
}

.panel h2 {
    text-align: center;
    margin-top: 10px;
}

.panel form {
    margin-top: 100px;
    margin-bottom: 30px;
}

.panel input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    margin-bottom: 10px;
    padding: 10px;
    font-family: "shabnam";
    margin-right: 15px;
}

.panel button {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    margin-right: 15px;
    margin-top: 30px;
    color: white;
    font-family: "shabnam";
    font-size: 17px;
}

.panel button:hover {
    cursor: pointer;
    color: rgb(194, 194, 194) !important;
}


.panel a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    margin-right: 20px;
    width: 100%;
    float: right;
}

.panel a:hover {
    color: rgb(194, 194, 194) !important;
}

.errors_ul {
    margin-top: 2px ;
    color: red;
    list-style: none;
    font-size: 11px;
}
